@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
    
*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow-y:hidden;
    margin:0;
    padding:0;
    height:100%;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 20px ), repeating-linear-gradient( #ff191967, #005effb2 );
    }

ul.header{
    text-align:center;
    display:flex;
    overflow-y:hidden;
    margin:0;
    padding:1vh;
    gap:10px;
}

li.header {
    float:left;
    list-style-type:none;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.596);
    display:block;
    position: center;
    line-height:6vh;
}

img.QLEQ{
    display:block;
    max-width:13vh;
    margin-top:-8px;
}

#color {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-style:normal;
}

#color:hover {
    background-color:rgba(255, 255, 255, 0.473);
    text-shadow: 4px 0 4px #FE0000, 6px 0 4px #005DFF;
    transition: 0.5s;
    border-radius: 15px;
}

div.container {
    scroll-snap-type:y mandatory;
    overflow-y:scroll;
    height:80vh;
}

div.page-align{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height:80%;
    width:90%;
    margin:5%;
    display:grid;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(255, 0, 0);
    scroll-snap-align: center;
    border-radius: 80px;
}

.slide1 {

}

div.back {
    background-color: rgba(0, 0, 0, 0);
    height:20vh;
}